@eclat:registry=https://eclat-000862464629.d.codeartifact.us-east-1.amazonaws.com/npm/eclat/
//eclat-000862464629.d.codeartifact.us-east-1.amazonaws.com/npm/eclat/:always-auth=true
//eclat-000862464629.d.codeartifact.us-east-1.amazonaws.com/npm/eclat/:_authToken=${CODEARTIFACT_AUTH_TOKEN}